/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

$theme-lightgreen: #eeffee;
$theme-green: darkgreen;
$theme-black: black;

/* Colors */
$body-bg: $theme-lightgreen;
$body-color: $theme-green;
$link-color: $theme-black;

/* Fonts */
$font-family-sans-serif:"Commissioner", serif;
$font-size-root: 20px;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: $theme-green;
}

.navbar * {
  color: $theme-green;
}

span.navbar-title:hover{
  color: $theme-green;
  transition-duration: 0.5s;  
  
  &:hover {
  color: lighten($theme-green,20%);
  transition-duration: 0.5s;
  }

}